@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap&family=Urbanist:wght@800&display=swap');

.collapse-css-transition {
    transition: height 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.blob-mask {
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: 22%;
    mask-position: 22%;

    -webkit-mask-size: contain;
    mask-size: contain;

    -webkit-mask-image: url('../assets/svgs/blob.svg');
    mask-image: url('../assets/svgs/blob.svg');
}

.admonition {
    padding: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    margin-bottom: 0.75rem;
    background-color: #fafafa;
    border-radius: 0.15rem;
    border: 1px solid #eaeaea;
}

.admonition-warning {
    border-left: 0.4rem solid #faa61f;
}